---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blogPosts = await getRecentPosts(SITE.featuredPostCount, 'blog')
const ctfPosts = await getRecentPosts(SITE.featuredPostCount, 'ctf')
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="mx-auto flex w-full items-center justify-center rounded-lg border py-10 text-center">
    <h3 class="text-3xl leading-none font-medium">
      Don't make it harder than it has to be
    </h3>
  </section>
  <section class="mx-auto flex w-full flex-col gap-y-6">
    <h2 class="text-2xl font-medium text-center">Latest posts</h2>
    <div class="grid gap-6 sm:grid-cols-2">
      <div class="flex flex-col gap-4">
        <h3 class="text-lg font-medium text-center">Blog</h3>
        <ul class="flex flex-col gap-y-4">
          {
            blogPosts.map((post) => (
              <li>
                <BlogCard entry={post} />
              </li>
            ))
          }
        </ul>
        <div class="flex justify-center">
          <Link
            href="/blog"
            class={buttonVariants({ variant: 'ghost' }) + ' group'}
          >
            See all Blog <span
              class="ml-1.5 transition-transform group-hover:translate-x-1"
              >&rarr;</span
            >
          </Link>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-lg font-medium text-center">CTF</h3>
        <ul class="flex flex-col gap-y-4">
          {
            ctfPosts.map((post) => (
              <li>
                <BlogCard entry={post} />
              </li>
            ))
          }
        </ul>
        <div class="flex justify-center">
          <Link
            href="/ctf"
            class={buttonVariants({ variant: 'ghost' }) + ' group'}
          >
            See all CTF <span
              class="ml-1.5 transition-transform group-hover:translate-x-1"
              >&rarr;</span
            >
          </Link>
        </div>
      </div>
    </div>
  </section>
</Layout>
